main{
	display: flex;
	height: 100vh;

}

body{
	overflow : hidden;
}

.carrousel{
	list-style: none;
	margin: auto;
	width: 200px;
	height: 200px;
	background-color: #FFF;
	clip-path: circle(45%);
	padding-left:  0px;
	animation: clicliDofus cubic-bezier(.12,.99,.31,1.01) 2.5s infinite;
	
}

.carrousel li{
	position: absolute;
	animation: movingDofus 20s infinite;
}

.carrousel li:nth-child(2){
	margin-left: -200px;
}
.carrousel li:nth-child(3){
	margin-left:200px;
}
.carrousel li:nth-child(4){
	margin-top:200px;
}
.carrousel li:nth-child(5){
	margin-top:-200px;
}
.hidding{
	background-color: #CCCCCC;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1 ;

}


.objectif{
	background-color: red;
	height: 200px;
	width: 200px;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	-webkit-animation: rotation 5s infinite linear;
	//clip-path: circle(45%);;
}

.objectif div{
	width: 0;
	height: 0;
	 border-style: solid;
border-width:    100px 0 100px 172px;
border-color:    transparent transparent transparent #007bff ;
	position: absolute;
	top: 25px;
	display: none;
	
	
}

.objectif .objectif-1{
	transform: rotate(60deg) ;
	-webkit-transform-origin : center;
	//-webkit-animation: spin-1 2s infinite linear;
	animation-direction: alternate; 
	display: block;

}
.objectif .objectif-2{
	transform: rotate(120deg);
}
.objectif .objectif-3{
	transform: rotate(180deg);
}
.objectif .objectif-4{
	transform: rotate(240deg);
}
.objectif .objectif-5{
	transform: rotate(300deg);
}
.objectif .objectif-6{
	transform: rotate(0deg);
}

@keyframes spin-1{
	from{
		transform: rotate(calc(0turn + 180deg)) translate(100px,20px) ;
	}
	to{
		transform: rotate(1turn) translate(100px,-20px) ;
	}
}
@keyframes spin-2{
	from{
		transform: rotate(60deg) ;
	}
	to{
		transform: rotate(359deg) ;
	}
}
@keyframes spin-3{
	from{
		transform: rotate(60deg) ;
	}
	to{
		transform: rotate(359deg) ;
	}
}
@keyframes spin-4{
	from{
		transform: rotate(60deg) ;
	
	to{
		transform: rotate(359deg) ;
	}
}
@keyframes spin-5{
	from{
		transform: rotate(60deg) ;
	}
	to{
		transform: rotate(359deg) ;
	}
}
@keyframes spin-6{
	from{
		transform: rotate(60deg) ;
	}
	to{
		transform: rotate(359deg) ;
	}
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes movingDofus {
	0% {
		transform: translate(0,0);
	}

	12.5% {
		transform: translate(-200px,0);
	}

	25%{
		transform: translate(0px,0);
	}
	37.5%{
		transform: translate(0px,-200px);
	}
	50%{
		transform: translate(0px,0);
	}
	62.5%{
		transform: translate(200px,0);
	}
	75%{
		transform: translate(0px,0);
	}
	87.5%{
		transform: translate(0px,200px);
	}
	100%{
		transform: translate(0px,0);
	}



}

@keyframes clicliDofus {
	0%{
		clip-path: circle(45%);
	}
	50%{
		clip-path: circle(0%);
	}
	100%{
		clip-path: circle(45%);
	}
}